@use 'variables';
@use 'mixins';

.row {
  display: flex;
  flex-wrap: wrap;
  margin-inline-start: variables.$grid-gutter * -.5;
  margin-inline-end: variables.$grid-gutter * -.5;
}

.no-gutters {
  margin-inline-start: 0;
  margin-inline-end: 0;

  > .col,
  > [class*='col-'] {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

@include mixins.make-grid-columns();


@each $breakpoint, $infix in variables.$breakpoint-infixs {
  @if ($breakpoint== 'xsmall') {
    @include mixins.loop-grid-columns(variables.$grid-columns, $infix);
  }

  @else {
    @include mixins.bp-gt($breakpoint) {
      @include mixins.loop-grid-columns(variables.$grid-columns, $infix);
    }
  }
}
